site_name: RestoAudit AI Assistant for cost control service with Syrve
theme: material
plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
nav:
  - Home: index.md
  - API: api.md